@media only screen and (max-width: 420px) {
    .one {
        font-size: 16px;
    }

    .two {
        font-size: 30px;
    }

    .three {
        font-size: 30px;
    }
    
    .emphasis {
        font-size: 25px;
    }

    .four {
        margin-top: 10px;
        font-size: 18px;
    }

    .experience-btn {
        width: 100px;
        height: 100px;
        font-size: 16px;
    }

    .subtext {
        font-size: 7px;
    }

    .experience-txt {
        font-size: 11px;
    }
    
    #contact .contact_text_one {
        font-size: 16px;
    }
}
