@media only screen and (max-width: 1910px) {
    .one {
        font-size: 24px;
    }

    .two {
        font-size: 65px;
    }

    .three {
        font-size: 65px;
    }
    
    .emphasis {
        font-size: 45px;
    }

    .four {
        font-size: 24px;
    }
}
