@media only screen and (max-width: 1540px) {
    .navbar a {
        padding: 20px 11px;
    }

    .navbar {
        font-size: 12.5px;
    }

    .navbar-left {
        padding-left: 30px;
    }

    .navbar-center {
        width: 50%;
        font-size: 18px;
    }

    .navbar-right {
        padding-right: 30px;
    }
      
}
