@media only screen and (max-width: 725px) {
    .one {
        font-size: 20px;
    }

    .two {
        font-size: 40px;
    }

    .three {
        font-size: 40px;
    }
    
    .emphasis {
        font-size: 30px;
    }

    .four {
        margin-top: 10px;
        font-size: 20px;
    }

    .title {
        font-size: 75px;
    }

    hr {
        width: 190px;
        height: 8px;

        margin-top: -67px;
        margin-bottom: 50px;
    }

    #about-img {
        width: 300px;
    }

    .about-text {
        font-size: 15px;
    }
}
