/************************************************************************************
        Introduction Section
************************************************************************************/
#intro {
    margin-top: 400px;
    margin-left: 420px;
}

.line {
    margin: 0px;
}

.one {
    font-size: 38px;
}
  
.two {
    font-size: 100px;
}
  
.three {
    font-size: 100px;
}

.four {
    font-size: 38px;
    margin-top: -30px;
}

/************************************************************************************
        About Section
************************************************************************************/
#about {
    margin-top: 800px;
    margin-left: 420px;
}
