/************************************************************************************
        Introduction Section
************************************************************************************/
.section {
    height: 120vh;
}

#intro {
    margin-left: 600px;
    padding-top: 550px;

    padding-top: 20%;
    margin-left: 23%;
    margin-right: 15%;
}

.line {
    margin: 0px;
}

.one {
    font-size: 30px;
}
  
.two {
    font-size: 80px;
}
  
.three {
    font-size: 80px;
}

.emphasis {
    font-size: 60px;
}

.four {
    font-size: 30px;
    margin-top: -15px;
}

/************************************************************************************
        About Section
************************************************************************************/
/*
#about {
    margin-top: 800px;
    margin-left: 420px;
}
*/

