/************************************************************************************
        Introduction Section
************************************************************************************/

.centered {
    position: absolute;
    left: 50.8%;
    margin-right: -25%;
    -moz-transform: translateX(-47%) translateY(-50%);
    -webkit-transform: translateX(-47%) translateY(-50%);
    transform: translateX(-47%) translateY(-50%);
}

body #intro {
    top: 50%;
    text-align: left;
}

.line {
    margin: 0px;
}

.one {
    font-size: 30px;
}
  
.two {
    font-size: 80px;
}
  
.three {
    font-size: 80px;
}

.emphasis {
    font-size: 60px;
}

.four {
    font-size: 30px;
    margin-top: -15px;
}

/************************************************************************************
        Common
************************************************************************************/
.title {
    font-size: 100px;
}

hr {
    width: 250px;
    height: 10px;

    border: 0;
    margin-top: -90px;
    margin-bottom: 100px;
  }

/************************************************************************************
        About Section
************************************************************************************/
#about {
    padding-top: 100px;
    margin-top: 200%;
}

#experience {
    padding-top: 100px;
    margin-top: 50%;
}

#contact {
    padding-top: 100px;
    margin-top: 250%;
}

#about-img {
    float: right;
    padding-right: 15%;
    padding-left: 5%;
    width: 650px;
}

.about-text {
    font-size: 30px;
    margin-top: 50px;
    width: 50%;
    text-align: left;
    padding-left: 15%;
    padding-right: 5%;
}

/************************************************************************************
        Experience Section
************************************************************************************/

/************************************************************************************
        Contact Section
************************************************************************************/