.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.navbar-left {
  width: 25%;
  padding-left: 45px;
}

.navbar-center {
  width: 50%;
  font-size: 24px;
}

.navbar-right {
  width: 25%;
  padding-right: 45px;
}

.navbar a {
  padding: 20px 15px;
}

