@media only screen and (max-width: 525px) {    
    .navbar-center {
        font-size: 12px;
    }

    .navbar {
        font-size: 10px;
    }

    .dropdown-content {
        min-width: 80px;
    }
  }