@media only screen and (max-width: 1115px) {
    .one {
        font-size: 14px;
    }

    .two {
        font-size: 40px;
    }

    .three {
        font-size: 40px;
    }
    
    .emphasis {
        font-size: 20px;
    }

    .four {
        font-size: 14px;
    }
}
