@media only screen and (max-width: 2225px) {
    .one {
        font-size: 28px;
    }

    .two {
        font-size: 75px;
    }

    .three {
        font-size: 75px;
    }
    
    .emphasis {
        font-size: 55px;
    }

    .four {
        font-size: 28px;
    }
}
