@media only screen and (max-width: 860px) {
    .one {
        font-size: 10px;
    }

    .two {
        font-size: 30px;
    }

    .three {
        font-size: 30px;
    }
    
    .emphasis {
        font-size: 15px;
    }

    .four {
        font-size: 10px;
    }
}
