@media only screen and (max-width: 1625px) {
    .one {
        font-size: 24px;
    }

    .two {
        font-size: 65px;
    }

    .three {
        font-size: 65px;
    }
    
    .emphasis {
        font-size: 51px;
    }

    .four {
        font-size: 24px;
    }

    #experience-btn-group {
        width: 275px;
    }

    .experience-btn {
        width: 275px;
        height: 275px;
        font-size: 22px;
    }

    .subtext {
        font-size: 14px;
    }

    .experience-txt {
        font-size: 24px;
    }
}
