@media only screen and (max-width: 1854px) {
    .one {
        font-size: 28px;
    }

    .two {
        font-size: 75px;
    }

    .three {
        font-size: 75px;
    }
    
    .emphasis {
        font-size: 57px;
    }

    .four {
        font-size: 28px;
    }

    .experience-txt {
        font-size: 26px;
    }

    .experience-txt h4 {
        margin-top: -30px;
    }
}
