@media only screen and (max-width: 1400px) {
    .one {
        font-size: 20px;
    }

    .two {
        font-size: 55px;
    }

    .three {
        font-size: 55px;
    }
    
    .emphasis {
        font-size: 45px;
    }

    .four {
        font-size: 20px;
    }

    #about-img {
        width: 350px;
    }

    .about-text {
        font-size: 16px;
    }

    .experience-txt {
        font-size: 20px;
    }
}
