/************************************************************************************
      HTML Section
************************************************************************************/
html {
    scroll-behavior: smooth;
  }
  
/************************************************************************************
      Header Section
************************************************************************************/
header {
  z-index: 1;
  font-family: 'PT Sans', sans-serif;
  border-width: 0px 0px 2px 0px;
  border-style: groove;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

.navbar {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.navbar-left {
  display: table-cell;
  text-align: left;
}

.navbar-center {
  display: table-cell;
  text-align: center;
}

.navbar-right {
  display: table-cell;
  text-align: right;
}

.navbar a {
  text-decoration: none;
}

/************************************************************************************
      Body Section
************************************************************************************/
body {
  z-index: 0;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

#intro {
  text-align: left;
}

/************************************************************************************
      Footer Section
************************************************************************************/
footer {
  z-index: 1;
  font-family: 'PT Sans', sans-serif;
  border-width: 2px 0px 0px 0px;
  border-style: groove;
  position: absolute;
  left: 0px;
  width: 100%;
  transition: top 0.3s;
  text-align: center;
}
