/************************************************************************************
      HTML Section
************************************************************************************/
html {
    scroll-behavior: smooth;
  }
  
/************************************************************************************
      Header Section
************************************************************************************/
header {
  z-index: 1;
  font-family: 'PT Sans', sans-serif;
  border-width: 0px 0px 2px 0px;
  border-style: groove;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

.navbar {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.navbar-left {
  display: table-cell;
  text-align: left;
}

.navbar-center {
  display: table-cell;
  text-align: center;
}

.navbar-right {
  display: table-cell;
  text-align: right;
}

.navbar a {
  text-decoration: none;
}

/* Dropdown hamburger menu only shows for 805 screenwidth and below */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--overtone-bg-color);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropdown-content a {
  color: #cdcbd4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.change .dropdown-content {
  display: block;
}

.dropdown-content a:hover {color: #5070ab;}

.dropdown {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 4px;
  background-color: #CDCBD4;
  margin: 4px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 8px) ;
  transform: rotate(-45deg) translate(-3px, 8px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -8px) ;
  transform: rotate(45deg) translate(-4px, -8px) ;
}

/************************************************************************************
      Body Section
************************************************************************************/
body {
  z-index: 0;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

#intro {
  text-align: left;
}

/************************************************************************************
      Footer Section
************************************************************************************/
footer {
  z-index: 1;
  font-family: 'PT Sans', sans-serif;
  border-width: 2px 0px 0px 0px;
  border-style: groove;
  position: absolute;
  left: 0px;
  width: 100%;
  transition: top 0.3s;
  text-align: center;
}