/* 
    Formatting rules for when the width is 1707 pixels or above
*/

@media only screen and (max-width: 1707px) {
    #intro {
        margin-left: 21.4%;
        margin-top: 370px;
    }

    .one {
        font-size: 22px;
    }

    .two {
        font-size: 55px;
    }

    .three {
        font-size: 55px;
    }

    .four {
        font-size: 22px;
    }
}


@media only screen and (min-width: 2238px) {
    footer {
        font-size: 16px;
    }
}