/* 
    Formatting rules for when the width is 1707 pixels or above
*/

@media only screen and (max-width: 1707px) {
    .navbar {
        font-size: 12px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
      
    .navbar-left {
        padding-left: 30px;
    }

    .navbar-center {
        font-size: 17px;
    }
    
    .navbar-right {
        padding-right: 30px;
    }
    
    .navbar a {
        padding: var(--vertical-padding) var(--horizontal-padding);
    }
}
