@media only screen and (max-width: 1275px) {
    .one {
        font-size: 16px;
    }

    .two {
        font-size: 45px;
    }

    .three {
        font-size: 45px;
    }
    
    .emphasis {
        font-size: 25px;
    }

    .four {
        font-size: 16px;
    }
}
