:root {
    --main-bg-color: #161617;
    --overtone-bg-color: #0c0c0e;
    --overtone-border-color: #060606;
}

/************************************************************************************
        Header Section
************************************************************************************/
header {
    background-color: var(--overtone-bg-color);
    border-color: var(--overtone-border-color);
}

/*  Link text color */
.navbar a {
    color: #cdcbd4;
}

/* Link text hover effect */
.navbar a:hover {
    color: #5070ab;
  }

/************************************************************************************
        Body Section
************************************************************************************/
body {
  background-color: var(--main-bg-color);
}

.one {
  color: #a7ddff;
}
  
.two {
  color: #d7f2ff;
}
  
.three {
  color: #a1acb3;
}

.emphasis {
  color: #a1acb3;
}
  
.four {
  color: #72a8ca;
}

/************************************************************************************
        Footer Section
************************************************************************************/
footer {
  background-color: var(--overtone-bg-color);
  border-color: var(--overtone-border-color);
}

.footer p {
  color: #cdcbd4;
}


@media only screen and (max-width: 2225px) {
  body {
    background-color: black;
  }
}

@media only screen and (max-width: 2065px) {
  body {
    background-color: #000111;
  }
}

@media only screen and (max-width: 1910px) {
  body {
    background-color: black;
  }
}

@media only screen and (max-width: 1750px) {
  body {
    background-color: #000111;
  }
}

@media only screen and (max-width: 1590px) {
  body {
    background-color: black;
  }
}

@media only screen and (max-width: 1445px) {
  body {
    background-color: #000111;
  }
}

@media only screen and (max-width: 1320px) {
  body {
    background-color: black;
  }
}

@media only screen and (max-width: 1275px) {
  body {
    background-color: #000111;
  }
}

@media only screen and (max-width: 1115px) {
  body {
    background-color: black;
  }
}

@media only screen and (max-width: 965px) {
  body {
    background-color: #000111;
  }
}

@media only screen and (max-width: 885px) {
  body {
    background-color: black;
  }
}

@media only screen and (max-width: 860px) {
  body {
    background-color: #000111;
  }
}

@media only screen and (max-width: 805px) {
  body {
    background-color: black;
  }


.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--overtone-bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #cdcbd4;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.change .dropdown-content {
  display: block;
}

.dropdown-content a:hover {color: #5070ab;}


.dropdown {
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 4px;
  background-color: #CDCBD4;
  margin: 4px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-3px, 8px) ;
  transform: rotate(-45deg) translate(-3px, 8px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -8px) ;
  transform: rotate(45deg) translate(-4px, -8px) ;
}

@media only screen and (max-width: 805px) {
  .dropdown {
    display: table-cell;
    float: right;
    padding-right: 20px;
  }
}