@media only screen and (max-width: 1145px) {
    .one {
        font-size: 32px;
    }

    .two {
        font-size: 60px;
    }

    .three {
        font-size: 60px;
    }
    
    .emphasis {
        font-size: 48px;
    }

    .four {
        margin-top: 10px;
        font-size: 32px;
    }

    #about {
        margin-top: 600px;
    }

    #experience-btn-group {
        width: 225px;
    }

    .experience-btn {
        width: 225px;
        height: 225px;
        font-size: 18px;
    }

    .subtext {
        font-size: 10px;
    }

    .experience-txt {
        font-size: 18px;
    }

    .experience-txt h4 {
        margin-top: -20px;
    }
}
