@media only screen and (max-width: 885px) {
    .navbar a {
        padding: 20px 2px;
    }

    .navbar {
        font-size: 9px;
    }

    .navbar-left {
        padding-left: 20px;
    }

    .navbar-center {
        width: 50%;
        font-size: 16px;
    }

    .navbar-right {
        padding-right: 20px;
    } 
}
