:root {
    --main-bg-color: #081623;
    --overtone-bg-color: #020308;

    /* --main-bg-color: #00010a; */
}

/************************************************************************************
        Header Section
************************************************************************************/
header {
    background-color: var(--overtone-bg-color);
    border-color: #000011;
}

/************************************************************************************
        Body Section
************************************************************************************/
body {
    background-color: var(--main-bg-color);
}

.one {
    color: #34D1BF;
  }
  
  .two {
    color: #cdebf9;
  }
  
  .three {
    color: #c06bdd;
  }
  
  .four {
    color: rgb(119, 171, 214);
  }