@charset "UTF-8";

/* Common Formatting Rules */
@import "format/common.css";

/* Format rules at 2560 resolution */
@import "format/resolution-2560/navbar.css";
@import "format/resolution-2560/body.css";

@import "format/resolution-2327/navbar.css";
@import "format/resolution-2327/body.css";

@import url('https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap');

/*
@import url('https://fonts.googleapis.com/css?family=Khula:800&display=swap');
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.text-container {
  font-family: 'Khula', sans-serif;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.text-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
#text {
  opacity: 0;
}
#text_two {
  opacity: 0;
}
*/