@charset "UTF-8";

/* Common Formatting Rules */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:700&display=swap');
@import "format/common.css";

/* Base Format Rules */
@import "format/resolution-2560/navbar.css";
@import "format/resolution-2560/body.css";

/* Format rules for body breakpoints */
@import "format/resolution-1850/body.css";
@import "format/resolution-1735/body.css";

/* Format rules for navbar breakpoints */
@import "format/resolution-1910/navbar.css";
@import "format/resolution-1750/navbar.css";
@import "format/resolution-1540/navbar.css";
@import "format/resolution-1445/navbar.css";
@import "format/resolution-1320/navbar.css";
@import "format/resolution-1115/navbar.css";
@import "format/resolution-965/navbar.css";
@import "format/resolution-885/navbar.css";



/*
@import url('https://fonts.googleapis.com/css?family=Khula:800&display=swap');
body {
  background: #111;
}
.hidden {
  opacity:0;
}
.text-container {
  font-family: 'Khula', sans-serif;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.text-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
#text {
  opacity: 0;
}
#text_two {
  opacity: 0;
}
*/