@media only screen and (max-width: 1735px) {
    .one {
        font-size: 26px;
    }

    .two {
        font-size: 70px;
    }

    .three {
        font-size: 70px;
    }
    
    .emphasis {
        font-size: 54px;
    }

    .four {
        font-size: 26px;
    }
    
    #about-img {
        width: 450px;
    }

    .about-text {
        font-size: 20px;
    }
}
